#gallery-list, #gallery { margin: 0; padding: 0; border: 0; overflow: hidden; display: inline-block; }
#gallery-list, #gallery { display: block; }
#gallery-list li, #gallery li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
#gallery-list li.first, #gallery li.first { padding-left: 0px; }
#gallery-list li.last, #gallery li.last { padding-right: 0px; }
#gallery-list li, #gallery li { margin-bottom: 35px; display: inline; float: left; margin-right: 15px; width: 177px; margin-right: 0px; }
* html #gallery-list li, * html #gallery li { overflow-x: hidden; }
#gallery-list li.last, #gallery li.last { display: inline; float: left; margin-right: 0; width: 177px; }
* html #gallery-list li.last, * html #gallery li.last { overflow-x: hidden; }
#gallery-list li p.tags, #gallery-list li p.title, #gallery-list li p.date, #gallery-list li p.comments, #gallery li p.tags, #gallery li p.title, #gallery li p.date, #gallery li p.comments { margin-top: .2em; font-weight: normal; color: #222222; font-size: 1.2em; margin-bottom: 0em; white-space: normal; width: 160px; }
#gallery-list li p.tags a, #gallery-list li p.title a, #gallery-list li p.date a, #gallery-list li p.comments a, #gallery li p.tags a, #gallery li p.title a, #gallery li p.date a, #gallery li p.comments a { display: inline; }
#gallery-list li p.tags.comments, #gallery-list li p.title.comments, #gallery-list li p.date.comments, #gallery-list li p.comments.comments, #gallery li p.tags.comments, #gallery li p.title.comments, #gallery li p.date.comments, #gallery li p.comments.comments { font-size: 1em; }
#gallery-list li p.tags.tags, #gallery-list li p.title.tags, #gallery-list li p.date.tags, #gallery-list li p.comments.tags, #gallery li p.tags.tags, #gallery li p.title.tags, #gallery li p.date.tags, #gallery li p.comments.tags { font-size: 1em; margin-top: .2em; }
#gallery-list li p.tags.date, #gallery-list li p.title.date, #gallery-list li p.date.date, #gallery-list li p.comments.date, #gallery li p.tags.date, #gallery li p.title.date, #gallery li p.date.date, #gallery li p.comments.date { margin-top: .3em; font-size: 1em; }
#gallery-list li a, #gallery li a { text-decoration: none; display: block; position: relative; width: 160px; height: 120px; }
#gallery-list li a div, #gallery li a div { width: 160px; height: 120px; display: none; }
#gallery-list li a div.shade, #gallery li a div.shade { background-color: #000000; left: 0; position: absolute; top: 0; z-index: 5; opacity: 0.8; }
#gallery-list li a div.description, #gallery li a div.description { background-color: transparent; color: white; font-weight: bold; left: 0; overflow: hidden; position: absolute; top: 0px; z-index: 9; }
#gallery-list li a div.description p, #gallery li a div.description p { white-space: normal; padding: 5px; border: 1px solid #aaa; width: 150px; height: 120px; }
#gallery-list li a:hover div, #gallery li a:hover div { display: block; }

#gallery li { margin-bottom: 30px; display: inline; float: left; margin-right: 15px; width: 305px; }
* html #gallery li { overflow-x: hidden; }
#gallery li.last { display: inline; float: left; margin-right: 0; width: 305px; }
* html #gallery li.last { overflow-x: hidden; }
#gallery li a { width: 260px; height: 195px; }
#gallery li a div { width: 260px; height: 195px; }
#gallery li a div.description p { width: 250px; height: 195px; }
