#guideline
	float: right
	color: #333
	width: 235px
	font: 80%/1.5em Verdana, Sans-serif
	margin: 20px 0 0 15px
	h4
		font: 110% Helvetica, Sans-serif
		text-transform: uppercase
		border-bottom: 1px dotted #aaa
		padding-bottom: 6px
	ul
		list-style-type: square
		margin: 6px 0 30px 15px
	li
		margin: 0 5px 12px

form
	overflow: hidden
	background-color: #fff
	border: 1px solid #afc79f
	margin-top: 20px

	#main
		+column(14)
	#sidebar
		+column(10,true)
	fieldset 
		background: #c8e4b7 url("../images/grid.gif")
		border: none
		font-size: 90%
		padding: 10px 15px
		margin: 1px

	label
		&.error 
			color: #b12123 
			font-weight: bold
		&.required
			input  
				background-color: #f1fdc6
		display: block 
		position: relative 
		color: #3f5a3e 
		font-size: 0.95em 
		letter-spacing: 1px 
		margin-bottom: 10px 
		small  
			position: absolute 
			right: 0 
			color: #3f5a3e 
			font-size: 90% 
			text-transform: none 
			text-align: right 
			margin-left: 40% 
			a:hover  
				color: #ccc 
				border-color: #888  
	

	input[type="text"], textarea  
		display: block 
		width: 100% 
		padding: 3px 0 
		background-color: #f6feee 
	

	textarea  
		height: 200px 
	

	input[type="submit"]#submit  
		display: block 
		float: right 
	


	

	p.success  
		color: #2c421b 
		background-color: #8acd55 
		padding: 5px 15px 
		border-top: 1px solid #a9fa68 
		border-bottom: 1px solid #6fa444 
		margin: 1px !important 
	

	p.error  
		color: #5f311b 
		background-color: #fb834b 
		border-top: 1px solid #fcc8a4 
		border-bottom: 1px solid #ae5832 
		padding: 5px 15px 
		margin: 1px !important 
	


	

	&#publish-article  
		text-align: center 
		fieldset 
			button#submit  
				cursor: pointer 
				color: #333 
				background: url("../images/button.gif") 0 0 no-repeat 
				width: 130px 
				height: 30px 
				border: none 

