@import base.sass
@import blueprint.sass


#events
//	+column(5)
#calendar
	+column(24,true)

	table
		border-collapse: separate
		border-width: 1px 1px 1px 1px
		table-layout: automatic

		td, th 
			width: 50px
			height: 50px
			overflow: hidden
			text-align: left
			vertical-align: top
			background: white
			background-repeat: no-repeat
			color: #444
			position: relative

		th
			text-align: center
			border-bottom: 1px solid #ccc
			font-size: 1.2em
			&.month-nav 
				border-bottom: 0px
				height: 10px
				font-weight: bold
				font-size: 14px


		td 
			border-bottom: 1px dashed #ccc
			ul
				margin: 0px
				list-style-type: none
				text-align: center
				li
					&.open-gym
						a
					&.blue
						a
					&.white
					&.tuition-due
						a
							color: #444
							font-weight: bold
							font-size: 1.1em
			
			&.hour
				border-right: 1px solid #ccc
				width: 40px
				vertical-align: middle
				text-align: center
				font-size: 1.2em
				font-weight: bold
				height: 20px

			&:hover, &.month-nav:hover
				background-position: 0px -81px
				color: #222

			&.date_has_event 
				background-position: 162px 0px
				color: white

			&.date_has_event:hover 
				background-position: 162px -81px

			&.padding 
				background: url(../images/workspace/calendar/calpad.jpg)

			&.other-month 
				background: #f0f0f0
				color: #aaa
				a
					color: #aaa

			&.this-day 
				background-position: 81px 0px
				color: black
				background-color: #ddd

			&.this-day:hover 
