@import base.sass
@import blueprint.sass
@import blueprint/modules/link_icons.sass
@import compass/utilities.sass
@import compass/reset.sass
@import forms.sass
@import feedback.sass

+blueprint-typography
/+blueprint-utilities
+blueprint-debug


h1 a, h2 a, h3 a, h4 a, h5 a
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif
	color= !article_title_color
	&:visited
		color= !article_title_visited_color
	&:hover
		color= !article_hover_color



body
	background-color= !body_bg_color
	+feedback-badge
	&#news
		div.list
			span.date
				+column(1)
			div.article-wide
				+column(23,true)

a
	+hover-link


#header
	+container
	color= !body_bg_text_color
	background: url(../images/upper-right-stars.jpg) no-repeat bottom right
	height: 234px
	#badge
		position: absolute
		background: url(../images/star-badge.png) no-repeat
		height: 98px
		width: 99px
		top: 175px
		margin-left: -70px
		z-index: 2
	#logo
		margin-top: 0px
		margin-bottom: -10px 
		+column(15)
	#menu
		+column(9,true)
		color: #677891
		font-size: 14px
		margin-top: 110px
		ul
			+horizontal-list
			+piped-list
			a
				color: #f3f6fb
	#nav
		+column(24,true)
		ul 
			+horizontal-list
			#welcome
				+nav-hover("welcome", 100px)
			#classes
				+nav-hover("classes", 80px)
			#franchising
				+nav-hover("franchising", 114px)
			#photos
				+nav-hover("media", 70px)
			#contact
				+nav-hover("contact", 85px)
			#schedule
				+nav-hover("schedule", 96px)
			li
				font-size= !nav_font_size
				background= !nav_background 
				border-right: 1px solid #111d29
				border-bottom: 2px solid #2c4d6f
				padding: 0px
				&:first-child
					border-left: 1px solid #111d29
				a
					//font-family: "Gotham Medium"
					height= !nav_height - !nav_font_size - 3
					display: block
					padding-top= (!nav_height - !nav_font_size - 3) / 2 - 2
					padding-bottom= (!nav_height - !nav_font_size - 3) / 2 + 4
					padding-left: 20px
					padding-right: 20px
					text-decoration: none
					border: 1px solid #467db7
					border-bottom= 2px "solid" #365e88
					color: #bcd0e8
					&:hover
						color: white
						padding-left: 19px
						padding-right: 19px
						padding-top= (!nav_height - !nav_font_size - 3) / 2 - 1
						padding-bottom= (!nav_height - !nav_font_size - 3) / 2 + 3
						border-left= 2px "solid" #365e88 - #111
						border-right= 2px "solid" #365e88 - #111
			li.selected
				border-right: 1px solid black
				background: white
				border-bottom: 3px solid white
				a
					border: 1px solid white
					color= !page_header_color
					&:hover
						padding-left: 20px
						padding-right: 20px
						padding-top= (!nav_height - !nav_font_size - 3) / 2 - 2
						padding-bottom= (!nav_height - !nav_font_size - 3) / 2 + 4

#showteam
	#middle	
		#content
			#left
				+column(17)
			#right
				+column(7, true)
				h4
					margin-bottom: 7px
				table
					tr
						td
							padding-left: 0px
							padding-top: 0px
#locations
	#middle
		#content
			ul
				list-style-type: none
				margin-left: 0px
			h3
				margin-bottom: 10px
			h4
				margin-bottom: 1px
			#right
				ul
					+horizontal-list
					li
						img
							border: 1px solid #aaa

#photos
	#middle
		#content
			#left
				+column(14)
				h4
					margin-bottom: 0px
					font-size: 1.5em
				h5
					margin-bottom: 12px
			#right
				+prepend(1)
				+column(9, true)

#franchising
	#middle
		#content
			#left
				ol
					margin-left: 25px
				color= !body_bg_color
				+column(7)
			#right
				+column(17, true)

#home 
	#middle
		#welcome-kf
			background: url(../images/home-bg.jpg) repeat-x scroll bottom center
			padding-top: 30px


#about 
	#middle
		#content
			#left
				+column(15)
				h3
					background-color: #f5f5f5
					padding: 10px
					text-align: center
				h4
					margin-top: 10px
					margin-bottom: 10px
			#right
				+column(8, true)

#contact
	#middle
		#content
			h2
				margin-bottom: 5px
			h3, h4
				margin-bottom: 5px
				font-weight: bold
			h5
				margin-bottom: 3px
			hr
				margin-bottom: 15px
				color: #fff
			#left
				+column(4)
				&.directions
					+column(15)
				#map
					border: 1px solid #ddd
					margin-bottom: 10px
			#right
				+column(20, true)
				&.directions
					+column(9, true)
					span
						h4
							margin-bottom: 2px

#middle
	background-color: white
	border-bottom: 1px solid #fafafa
	position: relative
	p
		line-height: 140%
	// homepage extra crap
	#welcome-kf
		background: url(../images/other-bg.jpg) repeat-x scroll bottom center
		border-bottom: 1px solid #e6e6e6
		padding-top: 17px
		color: #444
		// little star
		#badge-home
			position: absolute
			background: url(../images/star-badge-home.png) no-repeat
			height: 94px
			width: 97px
			top: 155px
			left= !blueprint_grid_width * 16.5
			z-index: 2
		.nav
			+horizontal-list
			+piped-list
			margin-bottom: 20px
			li
				font-size: 1.4em
				&.selected
					a
						color= !page_header_color + #111
						font-size: bigger
				a
		p
			margin-bottom: 10px
			font: 1.25em "georgia", "times", "times new roman"
			line-height: 140%
		h2
			margin-bottom: 10px
			font-weight: bold
			line-height: 1.1em
			font-size: 2.5em
			letter-spacing: -0.04em
			color= !page_header_color
			text-transform: capitalize
			a
				color= !page_header_color
		> div
			+container
			position: relative
			.introduction
				margin-bottom: 20px
				+column(10)
				p
					a:hover
						color= #2e5378 - #111
				h2
					font-size: 3.5em
					a
						color= !page_header_color
						&:hover
							text-decoration: none
			.introduction + div
				+prepend(1)
				+column(13, true)
				margin-bottom: 20px
				img
					border: 1px solid #555


// birthday parties - summer camp
#middle
	#welcome-kf > #birthdays, #welcome-kf > #summercamp
		background: url(../images/home-bg.jpg) repeat-x scroll bottom center
	#welcome-kf
		#birthdays, #summercamp
			#badge-home
				top: 255px
				left= !blueprint_grid_width * 18.5
			h3, h4
				color= !article_title_color
				margin-bottom: 10px
			ul
				list-style-type: square
				li
					font-size: 1.1em
			.introduction
				+column(10)
			.introduction + div
				+prepend(2)
				+column(11, true)
		#summercamp
			#badge-home
				top: 150px
			.introduction
			.introduction + div
	#content
		.parties
			img
				margin-right: 80px
				height: 100px
				width: auto
				float: right

	#content 
		+container
		padding-top: 30px
		padding-bottom: 20px
		position: relative
		.class
			h2
				margin-bottom: 3px
			h3
				font-size: 1.3em
				color= !article_title_color
			p
				margin-bottom: 10px
			ul
				+orange-list
		.article,.article-wide
			h3
				margin-bottom: 5px
				a
					font-size: 1.05em
					div
						border: 1px solid #7e848e
						width: 184px
						height: 138px
						margin-bottom: 20px
					img
						width: 182px
						height: 136px
						display: block
						border: 1px solid #b2ae96
						margin-bottom: 8px
				&:hover
					div
						border= 1px "solid" #7e848e - #333
					img
						border= 1px "solid" #b2ae96 - #333
				\+p
					margin: 0px
					padding: 0px
		// single article
		.article-wide
			ul
				+orange-list
			table
				width: 300px
				th
					border-bottom: 1px solid #ddd
				td
					padding-bottom: 0px
					padding-top: 0px
			p
			h4
				color= !page_header_color - #000
				color= !article_title_color
			img
				float: right
				display: block
				border: 1px solid #aaa
		// list of classes
		ul#class
			+column(24, true)
			+horizontal-list(0px)
			li
				+column(12)
				&.last
					+column(12, true)
				.left
					height: 150px
					+column(4)
					margin-right: 0px
					img
					a
				.right
					height: 150px
					+column(8)
					margin-left: 15px
					margin-right: 0px
					h3
						margin-bottom: .2em
					h5
						margin-bottom: .6em
					a
					p
						white-space: normal
						margin-bottom: 0px
		// home right side
		#left
			+column(11)
			// left articles
			> .article
				+column(5)
				a
					color= !nav_background
			> .article + .article
			hr
				clear: both
			h4
				color= !article_title_color
			table.camp
				width: 300px
				th
					border-bottom: 1px solid #ddd
				td
					padding-bottom: 0px
					padding-top: 0px			
		#right
			+prepend(1)
			+column(12,true)
			position: relative
			padding-left: 0px
			> ul.quicklinks
				clear: both
				+horizontal-list
				li
				
					font-size: 1.5em
					padding-top: 10px
					padding-left: 0px
					&.twitter
						padding-top: 0px
						img
							height: 55px
							width: 55px
					a
						img
							height: 35px
							width: 35px
			h4
				color= !article_title_color
			hr
				color: #fff
			.article
				margin-bottom: 20px
				a
					font-size: 1.1em
				ul
					margin-bottom: 10px
				p
					margin-bottom: 5px
				h3
					a
						font-weight: bold
						font-size: 1.2em
			.article + h3
				margin-bottom: 5px
				
				


#footer
	+container
	color= !body_bg_text_color
	padding-top: 57px
	padding-bottom: 50px
	background: url(../images/lower-right-stars.jpg) no-repeat top right
	z-index: 10
	ul
		+horizontal-list
		+piped-list
	p
		font-weight: lighter
		font-size: 13px
		line-height: 1.4em
	#left
		+column(7)
		#classes-bottom
			h2
				color: #bcd0e8
				> a
					display: block
					+replace-text("our_classes.png", 0px, 0px)
					height: 54px
					width: 183px
		#camp
			h2
				color: #bcd0e8
				> a
					display: block
					+replace-text("summer_camp.png", 0px, 0px)
					height: 54px
					width: 256px

	#news
		+prepend(1)
		+column(16,true)
		h2
			color: #bcd0e8
			> a
				display: block
				+replace-text("latest_news.png", 0px, 0px)
				height: 54px
				width: 233px
		h3
			margin-bottom: 3px
			a
				color= !article_title_color + #333
				font-size: 15px
				font-weight: normal
				&:hover
					color= !article_title_color + #555

			p
	hr
		+column(24,true)
		
	#bottom_nav
		+column(24,true)
		ul
			text-align: center	